*.xml
*.jar
*.iml
*.pyc
*.o
*.bim
*.DS_Store
*.mp4
*.png
*.swp
*.bdg
*.class
*.classpath
*.project
Java/.gitignore
*.tex
*bin/*
Java/.idea*
*.pdf
*.tikz
Mosel/output/*
Mosel/output/artificialOperators/*
Mosel/output/realOperators/*
Simulations/*
Mosel/runStats
Testing/Input/Static/Default/*
Testing/Input/Dynamic/Default/*
Testing/Output/Static/Default/*
Testing/Output/Dynamic/Default/*
