*.xml
*.jar
*.iml
*.pyc
*.o
*.bim
*.DS_Store
*.mp4
*.png
*.swp
*.class
*.classpath
*.project
Java/.gitignore
!Python/Tikz\ Generator/tex/img/*.png
Python/Tikz\ Generator/tex/*.pdf
Python/Tikz\ Generator/tex/*.tex
*bin/*
